img {
  width: 100vw;
}

iframe.instagram-media {
  min-width: unset !important;
}

ul {
  margin: 0;
  padding: 0 40px;
}

.instagram-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}
