.appHeader {
  border-bottom: 1px solid black;
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  padding: 8px;
}

.link {
  align-items: center;
  color: #213547;
  display: flex;
  gap: 8px;
}

.logo {
  height: auto;
  max-height: 40px;
  max-width: 40px;
  width: auto;
}

@media (prefers-color-scheme: dark) {
  .link {
    color: rgba(255, 255, 255, 0.87);
  }
}
