.appHeader {
  border-bottom: 1px solid black;
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  padding: 8px;
}

.appHeaderLink {
  align-items: center;
  color: inherit;
  display: flex;
  gap: 8px;
}

.appMenu {
  background: white;
  width: 25%;
}

.appMenuButton {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  max-height: 40px;
  max-width: 40px;
  width: auto;
}

.marpeLogo {
  height: auto;
  max-height: 40px;
  max-width: 40px;
  width: auto;
}
