.link {
  color: #213547;
}

.menuButton {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  max-height: 40px;
  max-width: 40px;
  width: auto;
}

.menu {
  background-color: #f9f9f9;
  position: fixed;
  right: 0px;
  width: 80px;
}

@media (prefers-color-scheme: dark) {
  .link {
    color: rgba(255, 255, 255, 0.87);
  }

  .menu {
    background-color: #34495e;
  }
}
